<div class="container">
  <div class="img-div">
    <img class="img" src="burger.png" alt="burger image">
    <label for="burger" class='input-label'>Enter A New Burger!</label>
    <input class="input" id="newBurger" type="text">
    <button id="submitBtn" class="submitBtn">Cook It!</button>
  </div>
  <div class="list-containers">
    <div class="notEaten">
      {{#each notEaten}}
        <div class="items-div">
          <button action="/api/update/{{this.id}}" method="PUT" class='devour-button' data-id="{{this.id}}">Devour!</button>
          <li data-id="{{this.id}}" class="list-items">{{this.burger_name}}</li>
        </div>
      {{/each}}
    </div> <!-- End of notEaten Div. -->

    <div class="eaten">
      {{#each eaten}}
        <div class="items-div">
          <li readonly data-id="{{this.id}}" class="list-items">{{this.burger_name}}</li>
        </div>
      {{/each}}
    </div> <!-- End of eaten Div. -->
  </div> <!-- End of list-containers Div. -->
</div> <!-- End of container Div. -->


